
.user-update-card {
   border: solid 0px bisque; 
   padding: 25px;
   border-radius: 10px;
   background-color:   #fff;


}
.head {
   font-family: Poppins,sans-serif;
   color: coral;
   font-style:inherit;
   text-align: center;

}

.card {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:   #e5e7eb;
   margin-bottom: 10px;
   min-height: 100vh;
   max-height: 150vh;
}   

.update-input {
   padding: 10px;
   margin-top:30px;
   border-radius: 4px;
   width: 25vw;
}

.dropdown-user-status {
    padding: 10px;
    width: 52vw; 
    margin-top:25px;
    border-radius: 4px;

 }

 .bu {
   color:whitesmoke ;
   font-weight: 600;
   margin-top: 20px;
   text-align: center;
 }

 